@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body
{
	background:#000000;
	background-attachment:fixed;
	margin:0;
	padding:0;
	
}

.wrap
{
	width:500px;
	height:600px;
	margin:auto;
	margin-top:70px;
	
}

.top
{
	width:460px;
	height:20px;
	display:block;
	background:#00AFEF;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:24px;
	color:#003;
	padding:20px;
	padding-top:30px;
	padding-bottom:30px;
	
}

.top h1
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:36px;
	color:#FFFFFF;

}

.content
{
	width:100%;
	height:300px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:24px;
	color:#003;
	background:#FFF;
	padding-top:10px;
}

.content .inn
{
	width:456px;
	margin:auto;
	height:300px;
	display:block;
}

.content .login
{
	background:url(loginMap.png) left top no-repeat;
	width:520px;
	margin-left:-26px;
	height:80px;

}

.lg td
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#003;
}

.lg input
{
	width:300px;
	height:30px;
	font-size:16px;
	font-weight:bolder;
	color:#003;
	border:#003 1px solid;
	padding:2px;
}

.lg #buttons
{
	width:100px;
	height:50px;
	background:#003;
	color:#FFF;
	cursor:pointer;
	border:none;
	padding:11px;
	text-decoration:none;
	font-size:14px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
.lg #buttons:hover
{
	color:#F00;
	background:#999;
}

.lg #buttons2 
{
	width:100px;
	height:50px;
	background:#003;
	color:#FFF;
	cursor:pointer;
	border:none;
	padding:17px;
	text-decoration:none;
	font-size:14px;
	font-weight:bolder;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
.lg #buttons2:hover
{
	color:#F00;
	background:#999;
}

label
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bolder;
	color:#FFFFFF;
	width:200px;
	display:block;
}

.wrap .page input
{
	width:250px;
	height:30px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	
}